.cabecalho {
  background-color: #3B322C;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.cabecalho .logo {
  padding-left: 30px;
}

.cabecalho .logo img {
  width: 70%;
  max-width: 350px;
  margin-bottom: 2rem;
}

.cabecalho .imagem{
  width: 40%;
  padding-right: 30px;
}

.cabecalho p {
  font-size: 2rem;
  color: #5E8C61;
  width: 100%;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }
  .cabecalho .imagem {
    display: none;
  }
}
